/* Estilos generales */

body {
	background-color: #f1f1f1;
	font-family: Arial, sans-serif;
	color: #333;
  }
  
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
  }

  h1 {
	text-align: center;
	font-size: 2.5rem;
	}
  

  
  /* Estilos para el tablero */
  
  .tablero {
	display: flex;
	flex-wrap: wrap;
	width: 600px;
	margin: 0 auto;
  }
  
  .carta {
	width: 100px;
	height: 100px;
	margin: 10px;
	background-color: #444;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.3s, background-color 0.3s;
	transform-style: preserve-3d;
	transform: perspective(1000px) rotateY(0deg);
  }
  
  .carta.seleccionada {
	background-color: #f00;
  }
  
  .carta.encontrada {
	background-color: #0f0;
	cursor: default;
  }
  
  /* Estilos para el puntaje y botón de reinicio */
  
  .puntaje {
	margin-top: 20px;
	text-align: center;
  }
  
  .boton-reinicio {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #f00;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	display: block;
	margin: 0 auto;
  }
  
  .boton-reinicio:hover {
	background-color: #c00;
  }
  
  /* Colores de las cartas */
  
  .carta[data-valor="1"] {
	background-color: #FFC312;
  }
  .carta[data-valor="2"] {
	background-color: #C4E538;
  }
  .carta[data-valor="3"] {
	background-color: #12CBC4;
  }
  .carta[data-valor="4"] {
	background-color: #FDA7DF;
  }
  .carta[data-valor="5"] {
	background-color: #ED4C67;
  }
  .carta[data-valor="6"] {
	background-color: #8B78E6;
  }
  
  /* Cartas encontradas */
  
  .carta.encontrada {
	background-color: #0f0;
  }
  
  /* Cartas no seleccionadas */
  
  .carta:not(.seleccionada):not(.encontrada) {
	background-color: #333;
  }
  
  /* Estilos para el footer */
  
  footer {
	margin-top: 50px;
	text-align: center;
  }
  
  footer p {
	font-size: 12px;
	color: #999;
	margin: 0;
  }
  
  footer a {
	color: #666;
	text-decoration: none;
  }
  
  footer a:hover {
	color: #333;
  }
  